Repository ncotds/nco-qoordinator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, git-diff-go-files, git-diff-go-mod

go-fmt:
  name: go-fmt
  entry: gofmt -l -w -s
  language: system

go-imports:
  name: go-imports
  entry: go run golang.org/x/tools/cmd/goimports -l -w
  language: system

git-diff-go-files:
  name: git-diff
  entry: git diff --exit-code
  language: system
  fail_fast: true

git-diff-go-mod:
  name: git-diff-go-mod
  entry: git diff --exit-code
  language: system
  fail_fast: true

add pkg restapi
  Makefile
  docs/openapi/openapi.yml
  go.mod
  go.sum
  go.work.sum
  pkg/restapi/coordinator_service.go
  pkg/restapi/error_handlers.go
  pkg/restapi/factories_test.go
  pkg/restapi/gen/oas_cfg_gen.go
  pkg/restapi/gen/oas_client_gen.go
  pkg/restapi/gen/oas_handlers_gen.go
  pkg/restapi/gen/oas_json_gen.go
  pkg/restapi/gen/oas_labeler_gen.go
  pkg/restapi/gen/oas_middleware_gen.go
  pkg/restapi/gen/oas_parameters_gen.go
  pkg/restapi/gen/oas_request_decoders_gen.go
  pkg/restapi/gen/oas_request_encoders_gen.go
  pkg/restapi/gen/oas_response_decoders_gen.go
  pkg/restapi/gen/oas_response_encoders_gen.go
  pkg/restapi/gen/oas_router_gen.go
  pkg/restapi/gen/oas_schemas_gen.go
  pkg/restapi/gen/oas_security_gen.go
  pkg/restapi/gen/oas_server_gen.go
  pkg/restapi/gen/oas_unimplemented_gen.go
  pkg/restapi/gen/oas_validators_gen.go
  pkg/restapi/response_mappers.go
  pkg/restapi/security_handlers.go
  pkg/restapi/server.go
  pkg/restapi/server_bench_test.go
  pkg/restapi/server_test.go
  tools/go.mod
  tools/go.sum
Due: go-fmt, go-imports, git-diff-go-files, git-diff-go-mod

add config and components
  config/example.yml
  go.mod
  go.sum
  pkg/components/logger.go
  pkg/components/restapi.go
  pkg/components/service.go
  pkg/config/config.go
Due: go-fmt, go-imports, git-diff-go-files, git-diff-go-mod

add ncoq-api cmd
  Makefile
  cmd/.gitkeep
  cmd/ncoq-api/main.go
  go.mod
  go.work.sum
  pplog.env
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: go-fmt, go-imports, git-diff-go-files, git-diff-go-mod

e2e tests
  Makefile
  tests/e2e/README.md
  tests/e2e/client/benchsuite.go
  tests/e2e/client/client.go
  tests/e2e/client/factories.go
  tests/e2e/client/testsuite.go
  tests/e2e/exec_time_per_iteration.png
  tests/e2e/mem_per_iteration.png
  tests/e2e/ncorest/client.go
  tests/e2e/ncorest/client_bench_test.go
  tests/e2e/ncorest/client_test.go
  tests/e2e/qoordinator/client.go
  tests/e2e/qoordinator/client_bench_test.go
  tests/e2e/qoordinator/client_test.go
Due: go-fmt, go-imports, git-diff-go-files

upd pkg/components doc
  pkg/components/doc.go
  pkg/components/example_test.go
  pkg/components/restapi.go
Due: go-fmt, go-imports, git-diff-go-files

upd e2e readme
  tests/e2e/README.md
Due: none

artifacts to run test omnibus inside docker
  .gitmodules
  tests/docker-compose-omni.yml
Due: none

update tools
  Makefile
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: go-fmt, go-imports, git-diff-go-files, git-diff-go-mod

add flag to print version
  cmd/ncoq-api/main.go
Due: go-fmt, go-imports, git-diff-go-files

alternarive QueryResult model
  internal/connmanager/pool_slot.go
  internal/connmanager/pool_slot_test.go
  internal/dbconnector/db_connector.go
  internal/dbconnector/mocks/mock_executor_closer.go
  internal/ncoclient/ncoclient_example_test.go
  internal/ncoclient/ncoclient_test.go
  internal/querycoordinator/coordinator_example_test.go
  internal/querycoordinator/factories_test.go
  internal/restapi/factories_test.go
  internal/restapi/response_mappers.go
  internal/restapi/server_bench_test.go
  internal/restapi/server_test.go
  internal/tdsclient/connection.go
  internal/tdsclient/connection_test.go
  internal/tdsclient/factories_test.go
  pkg/models/models.go
  tests/e2e/README.md
  tests/e2e/client/client.go
  tests/e2e/client/factories.go
  tests/e2e/client/testsuite.go
  tests/e2e/exec_time_per_iteration.png
  tests/e2e/mem_per_iteration.png
  tests/e2e/ncorest/client.go
  tests/e2e/qoordinator/client.go
Due: go-fmt, go-imports, git-diff-go-files

upd gofreetds fork after migration
  go.mod
  go.sum
  go.work.sum
Due: git-diff-go-mod

ci: run integration tests
  .github/workflows/tdsclient-pr-check-code.yml
Due: none

ci: deploy to test
  .github/workflows/deploy-test.yml
  Makefile
  tests/e2e/client/testsuite.go
Due: go-fmt, go-imports, git-diff-go-files

ci: build release assets
  .github/workflows/build-release-assets.yml
  .gitmodules
  config/example.yml
  docs/deploy-docker/Dockerfile
  docs/deploy-docker/README.md
  docs/deploy-systemd/README.md
  docs/deploy-systemd/ncoq-api.service
  pkg/config/config.go
  tests/e2e/qoordinator/client.go
Due: go-fmt, go-imports, git-diff-go-files

update readme
  README.md
  docs/deploy-docker/README.md
  docs/deploy-systemd/README.md
Due: none

update readme
  README.md
Due: none

fix deadlock
  internal/connmanager/pool_test.go
  internal/tdsclient/connection.go
  internal/tdsclient/connection_test.go
Due: go-fmt, go-imports, git-diff-go-files

refactor actions
  .github/workflows/any-pr-check-code.yml
  .github/workflows/build-release-assets.yml
  .github/workflows/deploy-test.yml
  .github/workflows/lint.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-publish-report.yml
  .github/workflows/test-unit.yml
  Makefile
Due: none

sonar cloud integration
  .github/workflows/build-release-assets.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-test.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-publish-gh.yml
  .github/workflows/test-publish-sonar.yml
  .github/workflows/test-unit.yml
  .gitignore
  Makefile
  README.md
  sonar-project.properties
Due: none

Add license scan report and status
  README.md
Due: none

upt dev tools
  .githooks/golangci-lint-staged/main.go
  .github/workflows/build-release-assets.yml
  .github/workflows/lint.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-unit.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  go.work
  go.work.sum
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: go-fmt, go-imports, git-diff-go-files, git-diff-go-mod

run preinstalled 'pplog' instead of 'go run ...'
  Makefile
Due: none

Go native driver OK
  .github/workflows/build-release-assets.yml
  .github/workflows/deploy-test.yml
  .github/workflows/lint.yml
  .github/workflows/test-unit.yml
  README.md
  docs/deploy-docker/Dockerfile
  docs/deploy-systemd/README.md
  go.mod
  go.sum
  internal/tdsclient/connection.go
  internal/tdsclient/connection_test.go
  internal/tdsclient/connector.go
  internal/tdsclient/setup_test.go
  tests/e2e/README.md
  tests/e2e/exec_time_per_iteration.png
  tests/e2e/mem_per_iteration.png
Due: go-fmt, go-imports, git-diff-go-files, git-diff-go-mod

set CGO_ENABLED=0 to prevent dynamic links
  docs/deploy-docker/Dockerfile
Due: none

ci: disabe cgo
  .github/workflows/build-release-assets.yml
  .github/workflows/deploy-test.yml
Due: none

windows build
  .github/workflows/build-release-assets.yml
  pkg/components/logger.go
  pkg/components/logger_run_notwindows.go
  pkg/components/logger_run_windows.go
Due: go-fmt, go-imports, git-diff-go-files

if logger prints to stdout, do not close it on shutdown
  pkg/components/example_test.go
  pkg/components/logger.go
  pkg/components/logger_test.go
Due: go-fmt, go-imports, git-diff-go-files

fixed Makefile to install dev tools properly
  Makefile
  internal/dbconnector/db_connector.go
  internal/querycoordinator/client.go
  internal/restapi/server.go
Due: go-fmt, go-imports, git-diff-go-files

upd benchmark results
  README.md
  tests/e2e/README.md
  tests/e2e/bench_diagram.xlsx
  tests/e2e/exec_time_per_iteration.png
  tests/e2e/mem_per_iteration.png
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  git-diff-go-files: any of: \.go$
  git-diff-go-mod: any of: go.(mod|sum)
